<%= link_to "<button>Back</button>".html_safe, url_for(:root) %>

<div style="max-width: 700px">
  <iframe src="<%= @uri %>" width="100%" height="500" border="0" id="iframe-reseller" style="overflow: hidden">
  </iframe>
</div>
<script src="<%= @js %>"></script>