<%= link_to "<button>Back</button>".html_safe, url_for(:back) %>


<iframe src="<%= @uri %>" width="100%" height="500" border="0" id="iframe-reseller" style="overflow: hidden">
</iframe>

<script src="<%= @js %>"></script>